<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/assets/images/shared/brand/flutter/logo/flutter-mono-81x100.png" alt="Flutter Logo" width="81" height="100">
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="/tos" class="text-nowrap">使用條款</a></li>
              <li><a href="/brand" class="text-nowrap">品牌指南</a></li>
              <li><a href="/security" class="text-nowrap">安全性</a></li>
              <li><a href="https://policies.google.cn/privacy?hl=zh-CN" class="text-nowrap">隱私權說明</a></li>
              <li><a href="https://flutter.dev/" class="text-nowrap">官方網站</a></li>
              <li><a href="/disclaimer" class="text-nowrap">免責宣告</a></li>
          </ul>
          <p class="licenses">
            參考中文內容需註明本站及連結作為出處，英文內容和範例程式碼均遵從源站授權協議。
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
